@font-face {
  font-family: 'Tiki Tropic Bold';
  src: local('Tiki Tropic Bold'),
    url(../fonts/Tiki_Tropic_Bold.ttf) format('truetype');
}

.lock-screen {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
span,
div {
  color: #282828;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

/** WARNING CONTAINER **/

.warning-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-container--exclamation-mark {
  font-size: 60px;
  width: 80px;
  height: 80px;
  line-height: 75px;
  border: 4px solid #282828;
  border-radius: 50%;
  text-align: center;
  margin-right: 16px;
}

.warning-container--title {
  font-size: 16px;
  font-weight: bold;
}

.warning-container--description {
  font-size: 14px;
  margin-top: 16px;
}

@media screen and (orientation: portrait) {
  .warning-container {
    flex-direction: column;
  }

  .warning-container--exclamation-mark {
    font-size: 60px;
    width: 80px;
    height: 80px;
    line-height: 75px;
    border: 4px solid #282828;
    border-radius: 50%;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
