.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8.5vh;
}

.list--element {
  width: 40%;
  padding: 5%;
}

.list--element img {
  width: 100%;
  border-radius: 20px;
}

.list-container--title {
  padding-left: 9vh;
  top: 2vh;
  padding-right: 1vh;
  padding-bottom: 2vh;
  height: 4.5vh;
  line-height: 4.5vh;
  font-size: 2vh;
  text-align: center;
  position: fixed;
  width: calc(100% - 9vh);
  z-index: 10;
  background: white;
}

.list--element--caption {
  text-align: center;
  font-size: 2.5vh;
}
