body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p,
h1,
h2,
h3,
span,
div {
  color: #282828;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.only-mobile-body {
  background: black;
  color: white;
}

.only-mobile-body div {
  color: rgb(95, 91, 91);
}

.only-mobile-body span {
  color: white;
}

.only-mobile-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  display: flex;
}
